body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-style: italic;
    color: white;
    background-color: green;
}

h2 {
    font-style: italic;
    background-color: green;
    color: white;
}